.app-container {
  display: flex;
}
.content {
  width: 100%;
}
.sidebar {
  min-height: 500px;
}
.post-card {
  margin: 20px 50px;
}
.tags {
  margin: 0px 3px;
}
.active {
  width: 100%;
}
.mdo {
  background-color: rgb(39, 122, 239);
  box-shadow: none;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}
